<div class="row text-center">
  <h1>Revenues and Expenses</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Revenue Items</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-center">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="revenue in vm.revenueData">
          <td><strong>{{ revenue.description }}</strong></td>
          <td class="text-right">{{ revenue.oneTime | currency }}</td>
          <td class="text-right">{{ revenue.monthly | currency }}</td>
          <td class="text-center">
            <span class="glyphicon glyphicon-pencil text-warning"
                  aria-hidden="true"
                  style="padding-right: 5px;"
                  ></span>
            <span class="glyphicon glyphicon-remove text-danger"
                  aria-hidden="true"
                  style="padding-left: 5px;"
                  ng-click="vm.deleteRevenue($index)"
                  ></span>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-6 col-md-offset-3">
    <button type="button"
            class="btn btn-primary btn-md btn-block"
            data-toggle="modal"
            data-target="revenue-modal">Add Revenue</button>
  </div>

  <div class="col-md-12">
    <form class="form-horizontal">
    <fieldset>
    
    <legend>Add a New Revenue Item</legend>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Revenue Description</label>  
      <div class="col-md-4">
      <input ng-model="vm.addRevenue.description" id="description" name="description" type="text" placeholder="A short description" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="oneTime">One Time Revenue</label>  
      <div class="col-md-4">
      <input ng-model="vm.addRevenue.oneTime" id="oneTime" name="oneTime" type="number" placeholder="$XX.XX" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="monthly">Monthly Revenue</label>  
      <div class="col-md-4">
      <input ng-model="vm.addRevenue.monthly" id="monthly" name="monthly" type="number" placeholder="$XX.XX" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="revenueCancelBtn"></label>
      <div class="col-md-8">
        <button id="revenueCancelBtn" name="revenueCancelBtn" class="btn btn-warning" ng-click="vm.cancelRevenueAdd();">Cancel</button>
        <button id="revenueAddBtn" name="revenueAddBtn" class="btn btn-success" ng-click="vm.submitRevenueAdd();">Add Revenue</button>
      </div>
    </div>
    
    </fieldset>
    </form>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h3>Expense Items</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-center">Edit/Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="expense in vm.expenseData">
          <td><strong>{{ expense.description }}</strong></td>
          <td class="text-right">{{ expense.oneTime | currency }}</td>
          <td class="text-right">{{ expense.monthly | currency }}</td>
          <td class="text-center">
            <span class="glyphicon glyphicon-pencil text-warning"
                  aria-hidden="true"
                  style="padding-right: 5px;"
                  ></span>
            <span class="glyphicon glyphicon-remove text-danger"
                  aria-hidden="true"
                  style="padding-left: 5px;"
                  ng-click="vm.deleteExpense($index)"
                  ></span>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <button type="button"
            class="btn btn-primary btn-md btn-block"
            >Add Expense</button>
  </div>
  
  <div class="col-md-12">
    <form class="form-horizontal">
    <fieldset>
    
    <legend>Add a New Expense Item</legend>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Expense Description</label>  
      <div class="col-md-4">
      <input ng-model="vm.addExpense.description" id="description" name="description" type="text" placeholder="A short description" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="oneTime">One Time Expense</label>  
      <div class="col-md-4">
      <input ng-model="vm.addExpense.oneTime" id="oneTime" name="oneTime" type="number" placeholder="$XX.XX" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="monthly">Monthly Expense</label>  
      <div class="col-md-4">
      <input ng-model="vm.addExpense.monthly" id="monthly" name="monthly" type="number" placeholder="$XX.XX" class="form-control input-md" required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" for="ExpenseCancelBtn"></label>
      <div class="col-md-8">
        <button id="ExpenseCancelBtn" name="ExpenseCancelBtn" class="btn btn-warning" ng-click="vm.cancelExpenseAdd();">Cancel</button>
        <button id="ExpenseAddBtn" name="ExpenseAddBtn" class="btn btn-success" ng-click="vm.submitExpenseAdd();">Add Expense</button>
      </div>
    </div>
    
    </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Revenue and Expense Totals</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><strong>Revenues</strong></td>
          <td class="text-right">{{ vm.revenuesOneTimeTotal | currency }}</td>
          <td class="text-right">{{ vm.revenuesMonthlyTotal | currency }}</td>
          <td class="text-right">{{ vm.revenuesTotal | currency }}</td>
        </tr>
        <tr>
          <td scope="row"><strong>Expenses</strong></td>
          <td class="text-right">{{ vm.expensesOneTimeTotal | currency }}</td>
          <td class="text-right">{{ vm.expensesMonthlyTotal | currency }}</td>
          <td class="text-right">{{ vm.expensesTotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row text-center">
  <h1>Calculations</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Contribution Profit</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Period</th>
          <th class="text-right">Profit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><strong>Monthly</strong></td>
          <td class="text-right">{{ vm.contributionProfitMonthly | currency }}</td>
        </tr>
        <tr>
          <td scope="row"><strong>Total</strong></td>
          <td class="text-right">{{ vm.contributionProfitTotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Other</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fact</th>
          <th>Figure</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">Contribution Margin</td>
          <td>{{ vm.contributionMargin | number:0 }}%</td>
        </tr>
        <tr>
          <td scope="row">Capital ROI (Months)</td>
          <td>{{ vm.capitalRoi | number:1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
