<div class="row">
  <h1>Revenue and Expense</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Revenue Items</h3>
  </div>
  
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th>One-Time</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="data in vm.revenues">
          <td>{{ data.description }}</td>
          <td>{{ data.oneTime | currency }}</td>
          <td>{{ data.monthly | currency }}</td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Expense Items</h3>
  </div>
  
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th>One-Time</th>
          <th>Monthly</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="data in vm.expenses">
          <td>{{ data.description }}</td>
          <td>{{ data.oneTime | currency }}</td>
          <td>{{ data.monthly | currency }}</td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
</div>
