<!DOCTYPE html>
<html lang="en" ng-app='roiCalcApp'>
  <head>
    <meta charset="utf-8">
    <title>ROI Calculator</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  </head>

  <body>

    <div class="container">
      <div class="col-md-8 col-md-offset-2"
           ng-controller="RevExpCtrl">
        
        <div class="row">
          <div class="col-md-12 text-center">
            <h1>ROI Calculator</h1>
          </div>
        </div>

        
        <div class="row">
          <div class="col-md-12">
            <h3>Revenue and Expense Totals</h3>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Type</th>
                  <th class="text-right">One-Time</th>
                  <th class="text-right">Monthly</th>
                  <th class="text-right">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><strong>Revenues</strong></td>
                  <td class="text-right">{{ revenuesOneTimeTotal | currency }}</td>
                  <td class="text-right">{{ revenuesMonthlyTotal | currency }}</td>
                  <td class="text-right">{{ revenuesTotal | currency }}</td>
                </tr>
                <tr>
                  <td scope="row"><strong>Expenses</strong></td>
                  <td class="text-right">{{ expensesOneTimeTotal | currency }}</td>
                  <td class="text-right">{{ expensesMonthlyTotal | currency }}</td>
                  <td class="text-right">{{ expensesTotal | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Contribution Profit</h3>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Period</th>
                  <th class="text-right">Profit</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><strong>Monthly</strong></td>
                  <td class="text-right">{{ contributionProfitMonthly | currency }}</td>
                </tr>
                <tr>
                  <td scope="row"><strong>Total</strong></td>
                  <td class="text-right">{{ contributionProfitTotal | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Other</h3>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Fact</th>
                  <th>Figure</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row"><strong>Contribution Margin</strong></td>
                  <td>{{ contributionMargin | number:0 }}%</td>
                </tr>
                <tr>
                  <td scope="row"><strong>Capital ROI (Months)</strong></td>
                  <td>{{ capitalRoi | number:1 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="row text-center">
          <h1>Revenues and Expenses</h1>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Revenue Items</h3>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Description</th>
                  <th class="text-right">One-Time</th>
                  <th class="text-right">Monthly</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="revenue in revenueData">
                  <td><strong>{{ revenue.description }}</strong></td>
                  <td class="text-right">{{ revenue.oneTime | currency }}</td>
                  <td class="text-right">{{ revenue.monthly | currency }}</td>
                  <td class="text-center">
                    <span class="glyphicon glyphicon-remove text-danger"
                          aria-hidden="true"
                          style="padding-left: 5px;"
                          ng-click="deleteRevenue($index)"
                          ></span>
                  </td>
                </tr>
                <tr ng-repeat-end></tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <button type="button"
                    class="btn btn-primary btn-md btn-block"
                    ng-show="showAddRevenueBtn"
                    ng-click="toggleHideAddRevenue(); 
                              revenueFormTitle = 'Add a New Revenue Item';"
                    >Add Revenue</button>
          </div>

          <div class="col-md-12">
            <form class="form-horizontal" 
                  ng-show="showRevenueForm">
            <fieldset>

            <legend>{{ revenueFormTitle }}</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="description"
                     >Revenue Description</label>  
              <div class="col-md-4">
              <input ng-model="formRevenue.description" 
                     id="description" 
                     name="description" 
                     type="text" 
                     placeholder="A short description" 
                     class="form-control input-md" 
                     required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="oneTime"
                     >One Time Revenue</label>  
              <div class="col-md-4">
              <input ng-model="formRevenue.oneTime" 
                     id="oneTime" 
                     name="oneTime" 
                     type="number" 
                     placeholder="$XX.XX" 
                     class="form-control input-md" 
                     required="">

              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="monthly">Monthly Revenue</label>  
              <div class="col-md-4">
              <input ng-model="formRevenue.monthly" 
                     id="monthly" 
                     name="monthly" 
                     type="number" 
                     placeholder="$XX.XX" 
                     class="form-control input-md" 
                     required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                      for="revenueCancelBtn"
                      ></label>
              <div class="col-md-8">
                <button id="revenueCancelBtn" 
                        name="revenueCancelBtn" 
                        class="btn btn-warning" 
                        ng-click="cancelRevenueAdd(); 
                                  toggleHideAddRevenue();"
                        >Cancel</button>
                <button id="revenueAddBtn" 
                        name="revenueAddBtn" 
                        class="btn btn-success" 
                        ng-click="submitRevenueAdd(); 
                                  toggleHideAddRevenue();"
                        >Add Revenue</button>
              </div>
            </div>
            </fieldset>
            </form>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Expense Items</h3>
          </div>

          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Description</th>
                  <th class="text-right">One-Time</th>
                  <th class="text-right">Monthly</th>
                  <th class="text-center">Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat-start="expense in expenseData">
                  <td><strong>{{ expense.description }}</strong></td>
                  <td class="text-right">{{ expense.oneTime | currency }}</td>
                  <td class="text-right">{{ expense.monthly | currency }}</td>
                  <td class="text-center">
                    <span class="glyphicon glyphicon-remove text-danger"
                          aria-hidden="true"
                          style="padding-left: 5px;"
                          ng-click="deleteExpense($index)"
                          ></span>
                  </td>
                </tr>
                <tr ng-repeat-end></tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6 col-md-offset-3">
            <button type="button"
                    class="btn btn-primary btn-md btn-block"
                    ng-show="showAddExpenseBtn"
                    ng-click="toggleHideAddExpense();
                              expenseFormTitle = 'Add a New Expense Item';"
                    >Add Expense</button>
          </div>

          <div class="col-md-12">
            <form class="form-horizontal"
                  ng-show="showExpenseForm">
            <fieldset>

            <legend>{{ expenseFormTitle }}</legend>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="description"
                     >Expense Description</label>  
              <div class="col-md-4">
              <input ng-model="formExpense.description" 
                     id="description" 
                     name="description" 
                     type="text" 
                     placeholder="A short description" 
                     class="form-control input-md" 
                     required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="oneTime"
                     >One Time Expense</label>  
              <div class="col-md-4">
              <input ng-model="formExpense.oneTime" 
                     id="oneTime" 
                     name="oneTime" 
                     type="number" 
                     placeholder="$XX.XX" 
                     class="form-control input-md" 
                     required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="monthly"
                     >Monthly Expense</label>  
              <div class="col-md-4">
              <input ng-model="formExpense.monthly" 
                     id="monthly" 
                     name="monthly" 
                     type="number" 
                     placeholder="$XX.XX" 
                     class="form-control input-md" 
                     required="">
              </div>
            </div>

            <div class="form-group">
              <label class="col-md-4 control-label" 
                     for="ExpenseCancelBtn"
                     ></label>
              <div class="col-md-8">
                <button id="ExpenseCancelBtn" 
                        name="ExpenseCancelBtn" 
                        class="btn btn-warning" 
                        ng-click="cancelExpenseAdd();
                                  toggleHideAddExpense();"
                        >Cancel</button>
                <button id="ExpenseAddBtn" 
                        name="ExpenseAddBtn" 
                        class="btn btn-success" 
                        ng-click="submitExpenseAdd();
                                  toggleHideAddExpense();"
                        >Add Expense</button>
              </div>
            </div>
            </fieldset>
            </form>
          </div>
        </div>
<br>
      </div>
    </div>

    <!-- Bootstrap Scripts
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Angular
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular-route.min.js"></script>

    <script type="text/javascript" src="./jsbin.js"></script>
  </body>
</html>
