<style>
  thead {
    background-color: #337ab7;
    color: #FFF;
  }
  
</style>

<div class="row">
  <div class="col-md-12 text-center">
    <h1>ROI Calculator</h1>
    <br>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Revenue and Expense Totals</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Type</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-right">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><strong>Revenues</strong></td>
          <td class="text-right">{{ vm.revenuesOneTimeTotal | currency }}</td>
          <td class="text-right">{{ vm.revenuesMonthlyTotal | currency }}</td>
          <td class="text-right">{{ vm.revenuesTotal | currency }}</td>
        </tr>
        <tr>
          <td scope="row"><strong>Expenses</strong></td>
          <td class="text-right">{{ vm.expensesOneTimeTotal | currency }}</td>
          <td class="text-right">{{ vm.expensesMonthlyTotal | currency }}</td>
          <td class="text-right">{{ vm.expensesTotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Contribution Profit</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Period</th>
          <th class="text-right">Profit / (Loss)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><strong>Monthly</strong></td>
          <td class="text-right">{{ vm.contributionProfitMonthly | currency }}</td>
        </tr>
        <tr>
          <td scope="row"><strong>Total</strong></td>
          <td class="text-right">{{ vm.contributionProfitTotal | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-md-6">
    <h3 class="text-center">Other</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Fact</th>
          <th>Figure</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"><strong>Contribution Margin</strong></td>
          <td>{{ vm.contributionMargin | number:0 }}%</td>
        </tr>
        <tr>
          <td scope="row"><strong>Capital ROI (Months)</strong></td>
          <td>{{ vm.capitalRoi | number:1 }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row text-center">
  <h1>Revenue and Expense Detail</h1>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>Revenue Items</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="revenue in vm.revenueData">
          <td><strong>{{ revenue.description }}</strong></td>
          <td class="text-right">{{ revenue.oneTime | currency }}</td>
          <td class="text-right">{{ revenue.monthly | currency }}</td>
          <td class="text-center">
            <span class="glyphicon glyphicon-remove text-danger"
                  aria-hidden="true"
                  style="padding-left: 5px;"
                  ng-click="vm.deleteRevenue($index)"
                  ></span>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <button type="button"
            class="btn btn-primary btn-md btn-block"
            ng-show="vm.showAddRevenueBtn"
            ng-click="vm.toggleHideAddRevenue(); 
                      vm.revenueFormTitle = 'Add a New Revenue Item';"
            >Add Revenue</button>
  </div>

  <div class="col-md-12">
    <form class="form-horizontal" 
          ng-show="vm.showRevenueForm">
    <fieldset>
    
    <legend>{{ vm.revenueFormTitle }}</legend>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="description"
             >Revenue Description</label>  
      <div class="col-md-4">
      <input ng-model="vm.formRevenue.description" 
             id="description" 
             name="description" 
             type="text" 
             placeholder="A short description" 
             class="form-control input-md" 
             required="">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="oneTime"
             >One Time Revenue</label>  
      <div class="col-md-4">
      <input ng-model="vm.formRevenue.oneTime" 
             id="oneTime" 
             name="oneTime" 
             type="number" 
             placeholder="$XX.XX" 
             class="form-control input-md" 
             required="">
        
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="monthly">Monthly Revenue</label>  
      <div class="col-md-4">
      <input ng-model="vm.formRevenue.monthly" 
             id="monthly" 
             name="monthly" 
             type="number" 
             placeholder="$XX.XX" 
             class="form-control input-md" 
             required="">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
              for="revenueCancelBtn"
              ></label>
      <div class="col-md-8">
        <button id="revenueCancelBtn" 
                name="revenueCancelBtn" 
                class="btn btn-warning" 
                ng-click="vm.cancelRevenueAdd(); 
                          vm.toggleHideAddRevenue();"
                >Cancel</button>
        <button id="revenueAddBtn" 
                name="revenueAddBtn" 
                class="btn btn-success" 
                ng-click="vm.submitRevenueAdd(); 
                          vm.toggleHideAddRevenue();"
                >Add Revenue</button>
      </div>
    </div>
    </fieldset>
    </form>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <h3>Expense Items</h3>
  </div>

  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Description</th>
          <th class="text-right">One-Time</th>
          <th class="text-right">Monthly</th>
          <th class="text-center">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="expense in vm.expenseData">
          <td><strong>{{ expense.description }}</strong></td>
          <td class="text-right">{{ expense.oneTime | currency }}</td>
          <td class="text-right">{{ expense.monthly | currency }}</td>
          <td class="text-center">
            <span class="glyphicon glyphicon-remove text-danger"
                  aria-hidden="true"
                  style="padding-left: 5px;"
                  ng-click="vm.deleteExpense($index)"
                  ></span>
          </td>
        </tr>
        <tr ng-repeat-end></tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <button type="button"
            class="btn btn-primary btn-md btn-block"
            ng-show="vm.showAddExpenseBtn"
            ng-click="vm.toggleHideAddExpense();
                      vm.expenseFormTitle = 'Add a New Expense Item';"
            >Add Expense</button>
  </div>
  
  <div class="col-md-12">
    <form class="form-horizontal"
          ng-show="vm.showExpenseForm">
    <fieldset>
    
    <legend>{{ vm.expenseFormTitle }}</legend>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="description"
             >Expense Description</label>  
      <div class="col-md-4">
      <input ng-model="vm.formExpense.description" 
             id="description" 
             name="description" 
             type="text" 
             placeholder="A short description" 
             class="form-control input-md" 
             required="">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="oneTime"
             >One Time Expense</label>  
      <div class="col-md-4">
      <input ng-model="vm.formExpense.oneTime" 
             id="oneTime" 
             name="oneTime" 
             type="number" 
             placeholder="$XX.XX" 
             class="form-control input-md" 
             required="">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="monthly"
             >Monthly Expense</label>  
      <div class="col-md-4">
      <input ng-model="vm.formExpense.monthly" 
             id="monthly" 
             name="monthly" 
             type="number" 
             placeholder="$XX.XX" 
             class="form-control input-md" 
             required="">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-md-4 control-label" 
             for="ExpenseCancelBtn"
             ></label>
      <div class="col-md-8">
        <button id="ExpenseCancelBtn" 
                name="ExpenseCancelBtn" 
                class="btn btn-warning" 
                ng-click="vm.cancelExpenseAdd();
                          vm.toggleHideAddExpense();"
                >Cancel</button>
        <button id="ExpenseAddBtn" 
                name="ExpenseAddBtn" 
                class="btn btn-success" 
                ng-click="vm.submitExpenseAdd();
                          vm.toggleHideAddExpense();"
                >Add Expense</button>
      </div>
    </div>
    </fieldset>
    </form>
  </div>
</div>
<hr>